/* App.css */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box {
  background: #f9f9f9;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-bottom: 1rem;
  width: 100%;
}

.Region_container {
  width: 20%; /* Smaller width for region field */
}

.phone_number {
  width: 80%; /* Larger width for phone number field */
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

button {
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}
